Repository HugoBlox/hugo-blox-builder, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, ci, modules, starters, config

.github/labeler.yml:

documentation:
  - changed-files:
      - any-glob-to-any-file: "**/*.md"

ci:
  - changed-files:
      - any-glob-to-any-file: ".github/workflows/**"

modules:
  - changed-files:
      - any-glob-to-any-file: "modules/**"

starters:
  - changed-files:
      - any-glob-to-any-file: "starters/**"

config:
  - changed-files:
      - any-glob-to-any-file:
          - "package.json"
          - "pnpm-lock.yaml"
          - "biome.json"
          - ".stylelintrc.yaml"
          - "vite.config.js"

ci(build-starters-matrix): prevent spurious cancellations by scoping concurrency per workflow+PR and restricting PR event types
  .github/workflows/ci-build-starters-matrix.yml
Labels: ci

feat: re-designed search UI and new FAQ and Q&A blocks
  modules/blox-tailwind/archetypes/faq.md
  modules/blox-tailwind/archetypes/questions.md
  modules/blox-tailwind/assets/css/config/safelist.css
  modules/blox-tailwind/assets/css/framework/base.css
  modules/blox-tailwind/assets/css/hb-search.css
  modules/blox-tailwind/assets/css/main.css
  modules/blox-tailwind/assets/js/hb-search.js
  modules/blox-tailwind/blox/faq/README.md
  modules/blox-tailwind/blox/faq/block.html
  modules/blox-tailwind/blox/faq/manifest.json
  modules/blox-tailwind/blox/faq/preview.svg
  modules/blox-tailwind/blox/faq/schema.json
  modules/blox-tailwind/blox/knowledge-categories/block.html
  modules/blox-tailwind/blox/knowledge-categories/manifest.json
  modules/blox-tailwind/blox/knowledge-categories/schema.json
  modules/blox-tailwind/blox/search-hero/README.md
  modules/blox-tailwind/blox/search-hero/block.html
  modules/blox-tailwind/blox/search-hero/manifest.json
  modules/blox-tailwind/blox/search-hero/schema.json
  modules/blox-tailwind/blox/trending-questions/block.html
  modules/blox-tailwind/blox/trending-questions/manifest.json
  modules/blox-tailwind/blox/trending-questions/schema.json
  modules/blox-tailwind/i18n/en.yaml
  modules/blox-tailwind/layouts/404.html
  modules/blox-tailwind/layouts/_partials/components/headers/navbar.html
  modules/blox-tailwind/layouts/_partials/components/search-modal.html
  modules/blox-tailwind/layouts/_partials/docs_layout.html
  modules/blox-tailwind/layouts/_partials/functions/parse_block_v3.html
  modules/blox-tailwind/layouts/_partials/init.html
  modules/blox-tailwind/layouts/_partials/jsonld/faqpage.html
  modules/blox-tailwind/layouts/_partials/jsonld/main.html
  modules/blox-tailwind/layouts/_partials/jsonld/qapage.html
  modules/blox-tailwind/layouts/_partials/libraries.html
  modules/blox-tailwind/layouts/_partials/views/card.html
  modules/blox-tailwind/layouts/faq/list.html
  modules/blox-tailwind/layouts/faq/single.html
  modules/blox-tailwind/layouts/questions/list.html
  modules/blox-tailwind/layouts/questions/single.html
  modules/blox-tailwind/layouts/taxonomy.html
  modules/blox-tailwind/layouts/terms.html
Labels: documentation, modules

fix: linting
  modules/blox-tailwind/assets/css/framework/base.css
  modules/blox-tailwind/assets/css/hb-search.css
  modules/blox-tailwind/assets/js/hb-search.js
  modules/blox-tailwind/blox/faq/manifest.json
  modules/blox-tailwind/blox/faq/schema.json
Labels: modules

feat: add new blocks
  modules/blox-tailwind/blox/contact-info/README.md
  modules/blox-tailwind/blox/contact-info/block.html
  modules/blox-tailwind/blox/contact-info/manifest.json
  modules/blox-tailwind/blox/contact-info/schema.json
  modules/blox-tailwind/blox/hero/block.html
  modules/blox-tailwind/blox/hero/component.jsx
  modules/blox-tailwind/blox/logos/README.md
  modules/blox-tailwind/blox/logos/block.html
  modules/blox-tailwind/blox/logos/manifest.json
  modules/blox-tailwind/blox/logos/schema.json
  modules/blox-tailwind/blox/research-areas/README.md
  modules/blox-tailwind/blox/research-areas/block.html
  modules/blox-tailwind/blox/research-areas/manifest.json
  modules/blox-tailwind/blox/research-areas/schema.json
  modules/blox-tailwind/blox/stats/README.md
  modules/blox-tailwind/blox/stats/block.html
  modules/blox-tailwind/blox/stats/manifest.json
  modules/blox-tailwind/blox/stats/schema.json
  modules/blox-tailwind/blox/team-showcase/README.md
  modules/blox-tailwind/blox/team-showcase/block.html
  modules/blox-tailwind/blox/team-showcase/manifest.json
  modules/blox-tailwind/blox/team-showcase/schema.json
Labels: documentation, modules

feat: show author name rather than username in terms/taxonomy layout
  modules/blox-tailwind/layouts/taxonomy.html
  modules/blox-tailwind/layouts/terms.html
Labels: modules

feat: add 'emoji' icon pack support
  modules/blox-tailwind/layouts/_partials/functions/get_icon.html
Labels: modules

feat: improve card view footer
  modules/blox-tailwind/layouts/_partials/views/card.html
Labels: modules

ci: add --no-frozen-lockfile
  .github/workflows/ci-build-starters-matrix.yml
  .stylelintrc.yaml
  modules/blox-tailwind/blox/hero/component.jsx
Labels: ci, modules, config

chore(lint): migrate CSS linting to Biome v2.3 (Tailwind v4) and remove stylelint
  .github/workflows/ci-build-starters-matrix.yml
  .github/workflows/ci-lint.yml
  .stylelintrc.yaml
  biome.json
  hugo-blox-builder.code-workspace
  package.json
  pnpm-lock.yaml
Labels: ci, config

tpl: rename dir to support Hugo breaking change
  templates/academic-cv/layouts/_partials/hooks/head-end/github-button.html
Labels: none

refactor: fix new Biome lint errors/warnings
  biome.json
  modules/blox-plugin-reveal/assets/js/hugoblox-slides.js
  modules/blox-tailwind/assets/css/blox/biography.css
  modules/blox-tailwind/assets/css/blox/navbar.css
  modules/blox-tailwind/assets/css/chroma.css
  modules/blox-tailwind/assets/css/components/author-notes.css
  modules/blox-tailwind/assets/css/components/cards.css
  modules/blox-tailwind/assets/css/components/copy.css
  modules/blox-tailwind/assets/css/components/glassmorphism.css
  modules/blox-tailwind/assets/css/framework/components.css
  modules/blox-tailwind/assets/js/hb-head.js
  modules/blox-tailwind/assets/js/hb-init.js
  modules/blox-tailwind/assets/js/hb-nav.js
  modules/blox-tailwind/assets/js/hb-notifier.js
  modules/blox-tailwind/assets/js/hb-search.js
  modules/blox-tailwind/assets/js/hb-sidebar.js
  modules/blox-tailwind/assets/js/hb-theme.js
  modules/blox-tailwind/assets/js/katex-config.js
  modules/blox-tailwind/blox/shared/js/components/Icon.jsx
  vite.config.js
Labels: modules, config

chore: add CLA for best practice
  .github/CLA.md
  .github/CONTRIBUTING.md
  .github/PULL_REQUEST_TEMPLATE.md
Labels: documentation

chore: prevent VSCode formatting conflicts
  hugo-blox-builder.code-workspace
Labels: none

feat: update partials path for recent Hugo breaking changes
  modules/blox-tailwind/hugo.yaml
Labels: modules

feat: update partials path for recent Hugo breaking changes
  modules/blox-tailwind/layouts/_partials/functions/render_view.html
  modules/blox-tailwind/layouts/_partials/hbx/resolve.html
  modules/blox-tailwind/layouts/_partials/landing_page.html
Labels: modules

docs: remove duplicated file
  .github/CONTRIBUTING.md
  CONTRIBUTING.md
Labels: documentation

fix: search not working when site deployed to sub-folder
  modules/blox-tailwind/assets/js/hb-head.js
  modules/blox-tailwind/layouts/_partials/components/search-modal.html
  modules/blox-tailwind/layouts/baseof.html
Labels: modules

fix: CSS class for hb-card-title to remove redundant items-start
  modules/blox-tailwind/assets/css/components/cards.css
Labels: modules

docs: add cli to readme
  .cursorindexingignore
  .gitignore
  README.md
  README.zh.md
Labels: documentation

feat: allow hud to be re-positioned
  modules/blox-tailwind/layouts/_partials/hooks/body-end/hbx-debug-hud.html
Labels: modules

feat: add breadcrumb structured data via BreadcrumbList JSON-LD for non-home pages
  modules/blox-tailwind/layouts/_partials/jsonld/breadcrumbs.html
  modules/blox-tailwind/layouts/_partials/jsonld/main.html
Labels: modules

feat(seo): enhancements for rich Google and LLM results
  modules/blox-tailwind/blox/contact-info/README.md
  modules/blox-tailwind/blox/team-showcase/README.md
  modules/blox-tailwind/data/page_sharer.yaml
  modules/blox-tailwind/hugo.yaml
  modules/blox-tailwind/layouts/_partials/jsonld/collectionpage.html
  modules/blox-tailwind/layouts/_partials/jsonld/main.html
  modules/blox-tailwind/layouts/_partials/jsonld/webpage.html
  modules/blox-tailwind/layouts/index.llm.txt
  templates/academic-cv/config/_default/params.yaml
  templates/academic-cv/content/authors/admin/_index.md
  templates/academic-cv/content/blog/get-started/index.md
  templates/blog/README.md
  templates/blog/config/_default/params.yaml
  templates/blog/content/blog/get-started/index.md
  templates/documentation/README.md
  templates/documentation/config/_default/params.yaml
  templates/documentation/content/showcase/_index.md
  templates/landing-page/README.md
  templates/landing-page/config/_default/params.yaml
  templates/landing-page/content/blog/get-started/index.md
  templates/link-in-bio/README.md
  templates/link-in-bio/config/_default/params.yaml
  templates/link-in-bio/content/authors/admin/_index.md
  templates/resume/README.md
  templates/resume/config/_default/params.yaml
Labels: documentation, modules

chore: add citation
  CITATION.cff
Labels: none

chore: update version in CITATION upon release
  package.json
  scripts/release_modules.py
  scripts/test_release_modules.py
Labels: config

chore: re-gen lock files
  templates/academic-cv/.github/workflows/deploy.yml
  templates/academic-cv/netlify.toml
  templates/academic-cv/pnpm-lock.yaml
  templates/blog/.github/workflows/deploy.yml
  templates/blog/netlify.toml
  templates/blog/pnpm-lock.yaml
  templates/documentation/.github/workflows/deploy.yml
  templates/documentation/netlify.toml
  templates/documentation/pnpm-lock.yaml
  templates/landing-page/.github/workflows/deploy.yml
  templates/landing-page/netlify.toml
  templates/landing-page/pnpm-lock.yaml
  templates/link-in-bio/.github/workflows/deploy.yml
  templates/link-in-bio/netlify.toml
  templates/link-in-bio/pnpm-lock.yaml
  templates/resume/.github/workflows/deploy.yml
  templates/resume/netlify.toml
  templates/resume/pnpm-lock.yaml
Labels: none

fix(css): CSS class for hb-card-title to remove redundant items-start (#3287)
  modules/blox-tailwind/assets/css/components/cards.css
Labels: modules

feat(themes): new color theme engine & packs 🎨
  modules/blox-tailwind/assets/css/blox/navbar.css
  modules/blox-tailwind/assets/css/config/theme.css
  modules/blox-tailwind/data/themes/americano.yaml
  modules/blox-tailwind/data/themes/contrast.yaml
  modules/blox-tailwind/data/themes/cupcake.yaml
  modules/blox-tailwind/data/themes/default.yaml
  modules/blox-tailwind/data/themes/dracula.yaml
  modules/blox-tailwind/data/themes/latte.yaml
  modules/blox-tailwind/data/themes/marine.yaml
  modules/blox-tailwind/data/themes/retro.yaml
  modules/blox-tailwind/data/themes/synthwave.yaml
  modules/blox-tailwind/layouts/_partials/components/headers/navbar-simple.html
  modules/blox-tailwind/layouts/_partials/components/headers/navbar.html
  modules/blox-tailwind/layouts/_partials/functions/generate_color_scale.html
  modules/blox-tailwind/layouts/_partials/functions/theme_generator.html
  modules/blox-tailwind/layouts/_partials/functions/theme_variables.html
  modules/blox-tailwind/layouts/_partials/site_head.html
  modules/blox-tailwind/layouts/baseof.html
  templates/academic-cv/config/_default/params.yaml
  templates/blog/config/_default/params.yaml
  templates/documentation/config/_default/params.yaml
  templates/landing-page/config/_default/params.yaml
  templates/link-in-bio/config/_default/params.yaml
  templates/resume/config/_default/params.yaml
Labels: modules

feat: port page cover system
  modules/blox-tailwind/assets/css/components/all.css
  modules/blox-tailwind/assets/css/components/cover.css
  modules/blox-tailwind/layouts/_partials/components/cover.html
  modules/blox-tailwind/layouts/_partials/functions/get_cover_image.html
  modules/blox-tailwind/layouts/_partials/functions/get_icon.html
  modules/blox-tailwind/layouts/baseof.html
  modules/blox-tailwind/layouts/single.html
  templates/academic-cv/content/blog/data-visualization/index.md
  templates/academic-cv/content/blog/get-started/index.md
  templates/academic-cv/content/blog/notebook-onboarding/cover.jpg
  templates/academic-cv/content/blog/notebook-onboarding/index.md
  templates/academic-cv/content/blog/project-management/index.md
  templates/academic-cv/content/blog/second-brain/index.md
  templates/academic-cv/content/blog/teach-courses/index.md
Labels: documentation, modules

tpl: edit
  templates/academic-cv/content/_index.md
Labels: documentation

feat(blox-tailwind): update deps
  modules/blox-tailwind/go.mod
Labels: modules

fix: align with schema v2
  modules/blox-tailwind/layouts/_partials/functions/get_theme_config.html
  modules/blox-tailwind/layouts/_partials/functions/theme_variables.html
Labels: modules

fix: align with schema v2
  modules/blox-tailwind/data/themes/coffee.yaml
  modules/blox-tailwind/data/themes/contrast.yaml
  modules/blox-tailwind/data/themes/cupcake.yaml
  modules/blox-tailwind/data/themes/default.yaml
  modules/blox-tailwind/data/themes/dracula.yaml
  modules/blox-tailwind/data/themes/marine.yaml
  modules/blox-tailwind/data/themes/matcha.yaml
  modules/blox-tailwind/data/themes/minimal.yaml
  modules/blox-tailwind/data/themes/retro.yaml
  modules/blox-tailwind/data/themes/solar.yaml
  modules/blox-tailwind/data/themes/synthwave.yaml
  modules/blox-tailwind/layouts/_partials/functions/get_theme_config.html
  modules/blox-tailwind/layouts/_partials/functions/theme_generator.html
  modules/blox-tailwind/layouts/_partials/functions/theme_variables.html
Labels: modules

fix: theming
  modules/blox-tailwind/assets/css/components/cover.css
  modules/blox-tailwind/layouts/_partials/functions/theme_generator.html
  templates/academic-cv/config/_default/params.yaml
Labels: modules

tpl: include VS Code config files
  .gitignore
  templates/academic-cv/.gitignore
  templates/academic-cv/.vscode/extensions.json
  templates/blog/.gitignore
  templates/blog/.vscode/extensions.json
  templates/documentation/.gitignore
  templates/documentation/.vscode/extensions.json
  templates/landing-page/.gitignore
  templates/landing-page/.vscode/extensions.json
  templates/link-in-bio/.gitignore
  templates/link-in-bio/.vscode/extensions.json
  templates/resume/.gitignore
  templates/resume/.vscode/extensions.json
Labels: none

fix: lint
  modules/blox-tailwind/assets/css/components/cover.css
  modules/blox-tailwind/assets/css/framework/base.css
  modules/blox-tailwind/assets/js/hb-code-copy.js
  modules/blox-tailwind/assets/js/hb-mermaid-config.js
  modules/blox-tailwind/assets/js/hb-nav.js
  poetry.lock
  pyproject.toml
Labels: modules

docs: add screenshots
  .github/media/studio/slide-1.webp
  .github/media/studio/slide-2.webp
  .github/media/studio/slide-3.webp
Labels: none

docs: edit
  README.md
  README.zh.md
Labels: documentation

docs: edit
  README.md
  README.zh.md
Labels: documentation

tpl: add devcontainer
  templates/academic-cv/.devcontainer/devcontainer.json
  templates/academic-cv/.github/workflows/deploy.yml
Labels: none

feat: remove abandonware (Commento)
  modules/blox-tailwind/layouts/_partials/comments/commento.html
  templates/academic-cv/config/_default/params.yaml
  templates/blog/config/_default/params.yaml
  templates/documentation/config/_default/params.yaml
  templates/landing-page/config/_default/params.yaml
  templates/link-in-bio/config/_default/params.yaml
  templates/resume/config/_default/params.yaml
Labels: modules
