Repository HugoBlox/hugo-blox-builder, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, ci, modules, starters, config

chore: dev contain
  templates/academic-cv/.devcontainer/devcontainer.json
  templates/blog/.devcontainer/devcontainer.json
  templates/documentation/.devcontainer/devcontainer.json
  templates/landing-page/.devcontainer/devcontainer.json
  templates/link-in-bio/.devcontainer/devcontainer.json
  templates/resume/.devcontainer/devcontainer.json
Labels: none

feat: optimize dev cont
  .devcontainer/base.Dockerfile
  .github/workflows/devcontainer-image.yml
  scripts/release_modules.py
  templates/academic-cv/.devcontainer/devcontainer.json
  templates/blog/.devcontainer/devcontainer.json
  templates/documentation/.devcontainer/devcontainer.json
  templates/landing-page/.devcontainer/devcontainer.json
  templates/link-in-bio/.devcontainer/devcontainer.json
  templates/resume/.devcontainer/devcontainer.json
Labels: ci

feat: disable debug HUD by default
  modules/blox-tailwind/layouts/_partials/hooks/body-end/hbx-debug-export.html
  modules/blox-tailwind/layouts/_partials/hooks/body-end/hbx-debug-hud.html
  modules/blox-tailwind/layouts/baseof.html
Labels: modules

ci: fix
  .github/workflows/devcontainer-image.yml
Labels: ci

ci: fix
  .github/workflows/devcontainer-image.yml
Labels: ci

ci: fix
  .github/workflows/devcontainer-image.yml
Labels: ci

ci: fix
  .github/workflows/devcontainer-image.yml
Labels: ci

fix: avatar size overrided
  hugo-blox-builder.code-workspace
  modules/blox-tailwind/blox/resume-biography-3/block.html
  modules/blox-tailwind/blox/resume-experience/block.html
  templates/academic-cv/content/_index.md
  templates/academic-cv/data/authors/me.yaml
  templates/blog/hugo-blox/blox/all-access/README.md
  templates/blog/hugo-blox/blox/community/README.md
  templates/documentation/hugo-blox/blox/all-access/README.md
  templates/documentation/hugo-blox/blox/community/README.md
  templates/landing-page/hugo-blox/blox/all-access/README.md
  templates/landing-page/hugo-blox/blox/community/README.md
  templates/link-in-bio/hugo-blox/blox/all-access/README.md
  templates/link-in-bio/hugo-blox/blox/community/README.md
  templates/resume/hugo-blox/blox/all-access/README.md
  templates/resume/hugo-blox/blox/community/README.md
Labels: documentation, modules

tpl: reduce default name txt size
  modules/blox-tailwind/blox/resume-biography-3/block.html
  modules/blox-tailwind/blox/resume-biography-3/schema.json
  templates/academic-cv/content/_index.md
Labels: documentation, modules

tpl: add Slides demo
  templates/academic-cv/config/_default/module.yaml
  templates/academic-cv/content/events/example/index.md
  templates/academic-cv/content/slides/example/index.md
  templates/academic-cv/go.mod
Labels: documentation

feat: add dedicated Event layout with built-in Slides
  modules/blox-tailwind/layouts/events/page.html
  templates/academic-cv/content/events/example/index.md
Labels: documentation, modules

tpl: edit readme
  templates/academic-cv/README.md
Labels: documentation

feat: allow to hide slides like in Powerpoint
  modules/blox-plugin-reveal/layouts/_partials/slides.html
  templates/academic-cv/content/slides/example/index.md
Labels: documentation, modules

feat: allow same origin iframes to support slides
  modules/blox-plugin-netlify/src/layouts/index.headers
  templates/academic-cv/config/_default/params.yaml
Labels: modules

fix: Creative Commons footer attribution text and icons
  modules/blox-tailwind/layouts/_partials/site_footer_license.html
  templates/academic-cv/config/_default/params.yaml
  templates/blog/config/_default/params.yaml
  templates/documentation/config/_default/params.yaml
  templates/landing-page/config/_default/params.yaml
  templates/link-in-bio/config/_default/params.yaml
  templates/resume/config/_default/params.yaml
Labels: modules

tpl: detect license in CI builds
  templates/academic-cv/.github/workflows/deploy.yml
  templates/blog/.github/workflows/deploy.yml
  templates/documentation/.github/workflows/deploy.yml
  templates/landing-page/.github/workflows/deploy.yml
  templates/link-in-bio/.github/workflows/deploy.yml
  templates/resume/.github/workflows/deploy.yml
Labels: none

fix: BreadcrumbList structured data to comply with Google Search Console requirements
  modules/blox-tailwind/layouts/_partials/jsonld/breadcrumbs.html
Labels: modules

feat: add safe defaults for locales
  modules/blox-tailwind/layouts/_partials/functions/get_event_dates.html
Labels: modules

tpl: edit
  templates/academic-cv/content/_index.md
Labels: documentation

feat: safely parse `image` front matter structure
  modules/blox-tailwind/layouts/_partials/functions/get_featured_image.html
  modules/blox-tailwind/layouts/_partials/views/card.html
  modules/blox-tailwind/layouts/events/page.html
  modules/blox-tailwind/layouts/single.html
Labels: modules

chore: update block metadata
  modules/blox-tailwind/blox/collection/schema.json
  modules/blox-tailwind/blox/contact-info/schema.json
  modules/blox-tailwind/blox/cta-button-list/schema.json
  modules/blox-tailwind/blox/cta-card/schema.json
  modules/blox-tailwind/blox/cta-image-paragraph/schema.json
  modules/blox-tailwind/blox/faq/schema.json
  modules/blox-tailwind/blox/features/schema.json
  modules/blox-tailwind/blox/hero/schema.json
  modules/blox-tailwind/blox/knowledge-categories/schema.json
  modules/blox-tailwind/blox/logos/schema.json
  modules/blox-tailwind/blox/markdown/schema.json
  modules/blox-tailwind/blox/research-areas/schema.json
  modules/blox-tailwind/blox/resume-awards/schema.json
  modules/blox-tailwind/blox/resume-biography-3/schema.json
  modules/blox-tailwind/blox/resume-biography/schema.json
  modules/blox-tailwind/blox/resume-experience/schema.json
  modules/blox-tailwind/blox/resume-languages/schema.json
  modules/blox-tailwind/blox/resume-skills/schema.json
  modules/blox-tailwind/blox/search-hero/schema.json
  modules/blox-tailwind/blox/shared/schemas/base-block.json
  modules/blox-tailwind/blox/stats/schema.json
  modules/blox-tailwind/blox/team-showcase/schema.json
  modules/blox-tailwind/blox/testimonials/schema.json
  modules/blox-tailwind/blox/trending-questions/schema.json
Labels: modules

build: include Pagefind in package.json for local builds
  scripts/view-starter-dev.sh
  templates/academic-cv/.github/workflows/deploy.yml
  templates/academic-cv/netlify.toml
  templates/academic-cv/package.json
  templates/blog/.github/workflows/deploy.yml
  templates/blog/netlify.toml
  templates/blog/package.json
  templates/documentation/.github/workflows/deploy.yml
  templates/documentation/netlify.toml
  templates/documentation/package.json
  templates/landing-page/.github/workflows/deploy.yml
  templates/landing-page/netlify.toml
  templates/landing-page/package.json
  templates/link-in-bio/.github/workflows/deploy.yml
  templates/link-in-bio/netlify.toml
  templates/link-in-bio/package.json
  templates/resume/.github/workflows/deploy.yml
  templates/resume/netlify.toml
  templates/resume/package.json
Labels: none

fix(search): filters + metadata across collection layouts
  modules/blox-tailwind/layouts/_partials/components/search-modal.html
  modules/blox-tailwind/layouts/_partials/docs_layout.html
  modules/blox-tailwind/layouts/events/page.html
  modules/blox-tailwind/layouts/faq/single.html
  modules/blox-tailwind/layouts/questions/single.html
  modules/blox-tailwind/layouts/single.html
  templates/academic-cv/pnpm-lock.yaml
Labels: modules

i18n(contact): move hardcoded contact block strings to language packs
  modules/blox-tailwind/blox/contact-info/block.html
  modules/blox-tailwind/i18n/de.yaml
  modules/blox-tailwind/i18n/en.yaml
  modules/blox-tailwind/i18n/es.yaml
  modules/blox-tailwind/i18n/nl.yaml
  modules/blox-tailwind/i18n/pt.yaml
  modules/blox-tailwind/i18n/zh-Hant.yaml
  modules/blox-tailwind/i18n/zh.yaml
Labels: modules

feat: deprecate Decap CMS support
  modules/blox-plugin-decap-cms/README.md
  modules/blox-plugin-decap-cms/config.yaml
  modules/blox-plugin-decap-cms/data/decap_cms_config.yaml
  modules/blox-plugin-decap-cms/functions/generate.html
  modules/blox-plugin-decap-cms/functions/parse.html
  modules/blox-plugin-decap-cms/go.mod
  modules/blox-plugin-decap-cms/templates/single.decap_cms_config.yml
  modules/blox-plugin-decap-cms/templates/single.html
Labels: documentation, modules

refactor(events): namespace front matter to avoid conflict with Hugo's date
  modules/blox-tailwind/layouts/_partials/functions/get_event_dates.html
  modules/blox-tailwind/layouts/_partials/jsonld/event.html
  modules/blox-tailwind/layouts/_partials/views/card.html
  modules/blox-tailwind/layouts/_partials/views/citation.html
  modules/blox-tailwind/layouts/_partials/views/date-title-summary.html
  modules/blox-tailwind/layouts/events/page.html
  modules/blox-tailwind/layouts/single.html
  templates/academic-cv/content/events/example/index.md
Labels: documentation, modules

build: remove decap
  scripts/view-starter-dev.sh
Labels: none

refactor: rename repo
  scripts/view-starter-dev.sh
Labels: none

refactor: module versions
  modules/blox/go.mod
  modules/integrations/netlify/go.mod
  templates/academic-cv/go.mod
Labels: modules

refactor: module versions
  modules/blox/layouts/_partials/functions/hbx_verify.html
Labels: modules

chore: bump v
  modules/blox/data/hugoblox.yaml
Labels: modules

tpl: fix netlify pagefind args
  templates/academic-cv/netlify.toml
  templates/blog/netlify.toml
  templates/documentation/netlify.toml
  templates/landing-page/netlify.toml
  templates/link-in-bio/netlify.toml
  templates/resume/netlify.toml
Labels: none

tpl: add arg for netlify's implicit npm install
  templates/academic-cv/netlify.toml
  templates/blog/netlify.toml
  templates/documentation/netlify.toml
  templates/landing-page/netlify.toml
  templates/link-in-bio/netlify.toml
  templates/resume/netlify.toml
Labels: none

build: standardise go v
  modules/analytics/go.mod
  templates/documentation/go.mod
  test/go.mod
Labels: modules

docs: modules
  modules/README.md
Labels: documentation, modules

Add portfolio file with initial content
  modules/blox/blox/portfolio
Labels: modules

Delete modules/blox/blox/portfolio
  modules/blox/blox/portfolio
Labels: modules

Add portfolio block for Hugo Blox with filters
  modules/blox/blox/portfolio/block.html
Labels: modules

Add README for Hugo Blox Portfolio Block
  modules/blox/blox/portfolio/README.md
Labels: documentation, modules

Add manifest.json for Portfolio component
  modules/blox/blox/portfolio/manifest.json
Labels: modules

.github/labeler.yml:

documentation:
  - changed-files:
      - any-glob-to-any-file: "**/*.md"

ci:
  - changed-files:
      - any-glob-to-any-file: ".github/workflows/**"

modules:
  - changed-files:
      - any-glob-to-any-file: "modules/**"

starters:
  - changed-files:
      - any-glob-to-any-file: "starters/**"

config:
  - changed-files:
      - any-glob-to-any-file:
          - "package.json"
          - "pnpm-lock.yaml"
          - "biome.json"
          - ".stylelintrc.yaml"
          - "vite.config.js"
