Repository HugoBlox/hugo-blox-builder, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, ci, modules, starters, config

.github/labeler.yml:

documentation:
  - changed-files:
      - any-glob-to-any-file: "**/*.md"

ci:
  - changed-files:
      - any-glob-to-any-file: ".github/workflows/**"

modules:
  - changed-files:
      - any-glob-to-any-file: "modules/**"

starters:
  - changed-files:
      - any-glob-to-any-file: "starters/**"

config:
  - changed-files:
      - any-glob-to-any-file:
          - "package.json"
          - "pnpm-lock.yaml"
          - "biome.json"
          - ".stylelintrc.yaml"
          - "vite.config.js"

Add Portfolio Block JSON schema
  modules/blox/blox/portfolio/schema.json
Labels: modules

preview
  modules/blox/blox/portfolio/preview.png
Labels: modules

Add portfolio block usage configuration
  modules/blox/blox/portfolio/block-usage
Labels: modules

ci: update actions to inc new tpl
  .github/workflows/ci-build-starters-matrix.yml
  .github/workflows/release-package-splitter.yml
Labels: ci

docs: edit
  templates/dev-portfolio/README.md
Labels: documentation

docs: edit
  templates/dev-portfolio/README.md
Labels: documentation

docs: edit
  templates/dev-portfolio/README.md
Labels: documentation

ci: fix
  .github/workflows/release-package-splitter.yml
Labels: ci

ci: fix
  .github/workflows/release-package-splitter.yml
Labels: ci

feat(authors): preserve author casing when profiles are missing
  modules/blox/layouts/_partials/functions/get_author_profile.html
Labels: modules

ci: add markdown-slides
  .github/workflows/release-package-splitter.yml
Labels: ci

ci: fix
  .github/workflows/release-package-splitter.yml
Labels: ci

ci: fix
  .github/workflows/release-package-splitter.yml
Labels: ci

ci: fix
  .github/workflows/ci-build-starters-matrix.yml
Labels: ci

feat(team-showcase): polish sorting, layout, and docs for labs/startups
  modules/blox/blox/team-showcase/README.md
  modules/blox/blox/team-showcase/block.html
  modules/blox/blox/team-showcase/schema.json
  modules/blox/layouts/_partials/functions/get_author_profile.html
Labels: documentation, modules

feat: add hugoblox upgrade workflow
  templates/academic-cv/.github/workflows/upgrade.yml
  templates/data-science-blog/.github/workflows/upgrade.yml
  templates/dev-portfolio/.github/workflows/upgrade.yml
  templates/documentation/.github/workflows/upgrade.yml
  templates/link-in-bio/.github/workflows/upgrade.yml
  templates/markdown-slides/.github/workflows/upgrade.yml
  templates/resume/.github/workflows/upgrade.yml
  templates/startup-landing-page/.github/workflows/upgrade.yml
Labels: none

style: improve spacing between groups
  modules/blox/blox/team-showcase/block.html
Labels: modules

fix: team-showcase block enhancements
  modules/blox/blox/team-showcase/block.html
Labels: modules

feat: harden block inputs (batch 1)
  modules/blox/blox/collection/block.html
  modules/blox/blox/collection/schema.json
  modules/blox/blox/cta-card/block.html
  modules/blox/blox/cta-card/schema.json
  modules/blox/blox/markdown/block.html
  modules/blox/blox/resume-biography-3/block.html
  modules/blox/blox/team-showcase/block.html
  modules/blox/blox/team-showcase/schema.json
  modules/blox/layouts/_partials/functions/coerce_bool.html
  modules/blox/layouts/_partials/functions/coerce_int.html
Labels: modules

feat: harden block inputs (batch 2)
  modules/blox/blox/contact-info/block.html
  modules/blox/blox/cta-button-list/block.html
  modules/blox/blox/cta-image-paragraph/block.html
  modules/blox/blox/dev-hero/block.html
  modules/blox/blox/faq/block.html
  modules/blox/blox/features/block.html
  modules/blox/blox/hero/block.html
  modules/blox/blox/knowledge-categories/block.html
  modules/blox/blox/logos/block.html
  modules/blox/blox/portfolio/block.html
  modules/blox/blox/research-areas/block.html
  modules/blox/blox/resume-awards/block.html
  modules/blox/blox/resume-biography/block.html
  modules/blox/blox/resume-experience/block.html
  modules/blox/blox/resume-languages/block.html
  modules/blox/blox/resume-skills/block.html
  modules/blox/blox/search-hero/block.html
  modules/blox/blox/stats/block.html
  modules/blox/blox/tech-stack/block.html
  modules/blox/blox/testimonials/block.html
  modules/blox/blox/trending-questions/block.html
Labels: modules

feat: schema optimization
  modules/blox/blox/collection/schema.json
  modules/blox/blox/contact-info/schema.json
  modules/blox/blox/cta-button-list/schema.json
  modules/blox/blox/cta-image-paragraph/schema.json
  modules/blox/blox/dev-hero/schema.json
  modules/blox/blox/faq/schema.json
  modules/blox/blox/features/schema.json
  modules/blox/blox/hero/schema.json
  modules/blox/blox/knowledge-categories/schema.json
  modules/blox/blox/logos/schema.json
  modules/blox/blox/portfolio/schema.json
  modules/blox/blox/research-areas/schema.json
  modules/blox/blox/resume-awards/schema.json
  modules/blox/blox/resume-biography-3/schema.json
  modules/blox/blox/resume-biography/schema.json
  modules/blox/blox/resume-experience/schema.json
  modules/blox/blox/resume-languages/schema.json
  modules/blox/blox/resume-skills/schema.json
  modules/blox/blox/search-hero/schema.json
  modules/blox/blox/stats/schema.json
  modules/blox/blox/team-showcase/schema.json
  modules/blox/blox/tech-stack/schema.json
  modules/blox/blox/testimonials/schema.json
Labels: modules

feat(authors): preserve entered casing and links for author names
  modules/blox/layouts/_partials/page_metadata_authors.html
Labels: modules

ci: fix - switch from npx to pnpx
  templates/academic-cv/.github/workflows/upgrade.yml
  templates/data-science-blog/.github/workflows/upgrade.yml
  templates/dev-portfolio/.github/workflows/upgrade.yml
  templates/documentation/.github/workflows/upgrade.yml
  templates/link-in-bio/.github/workflows/upgrade.yml
  templates/markdown-slides/.github/workflows/upgrade.yml
  templates/resume/.github/workflows/upgrade.yml
  templates/startup-landing-page/.github/workflows/upgrade.yml
Labels: none

fix(portfolio): prevent pre-filter slicing and clarify count usage
  modules/blox/blox/portfolio/block.html
  modules/blox/blox/portfolio/schema.json
Labels: modules

fix(team-showcase): honor sort direction and improve portrait layout
  modules/blox/blox/team-showcase/block.html
Labels: modules

tpl(ci): add GITHUB_TOKEN to avoid github rate limiting
  templates/academic-cv/.github/workflows/upgrade.yml
  templates/data-science-blog/.github/workflows/upgrade.yml
  templates/dev-portfolio/.github/workflows/upgrade.yml
  templates/documentation/.github/workflows/upgrade.yml
  templates/link-in-bio/.github/workflows/upgrade.yml
  templates/markdown-slides/.github/workflows/upgrade.yml
  templates/resume/.github/workflows/upgrade.yml
  templates/startup-landing-page/.github/workflows/upgrade.yml
Labels: none

docs: edit
  templates/markdown-slides/README.md
Labels: documentation

fix(portfolio): respect per-filter count while keeping filters populated
  modules/blox/blox/portfolio/block.html
Labels: modules

fix(team-showcase): align headers, square avatars, respect sort order
  modules/blox/blox/team-showcase/block.html
Labels: modules

fix: portfolio filter limits, View All logic, and status badge configuration
  modules/blox/blox/collection/schema.json
  modules/blox/blox/contact-info/schema.json
  modules/blox/blox/cta-button-list/schema.json
  modules/blox/blox/cta-card/schema.json
  modules/blox/blox/cta-image-paragraph/schema.json
  modules/blox/blox/dev-hero/schema.json
  modules/blox/blox/faq/schema.json
  modules/blox/blox/features/schema.json
  modules/blox/blox/hero/schema.json
  modules/blox/blox/knowledge-categories/schema.json
  modules/blox/blox/logos/schema.json
  modules/blox/blox/markdown/schema.json
  modules/blox/blox/portfolio/README.md
  modules/blox/blox/portfolio/block.html
  modules/blox/blox/portfolio/schema.json
  modules/blox/blox/research-areas/schema.json
  modules/blox/blox/resume-awards/schema.json
  modules/blox/blox/resume-biography-3/schema.json
  modules/blox/blox/resume-biography/schema.json
  modules/blox/blox/resume-experience/schema.json
  modules/blox/blox/resume-languages/schema.json
  modules/blox/blox/resume-skills/schema.json
  modules/blox/blox/search-hero/schema.json
  modules/blox/blox/stats/schema.json
  modules/blox/blox/team-showcase/schema.json
  modules/blox/blox/tech-stack/schema.json
  modules/blox/blox/testimonials/schema.json
  modules/blox/blox/trending-questions/schema.json
  templates/dev-portfolio/content/_index.md
  test/data/pages/home.yaml
Labels: documentation, modules

docs: update ext id
  README.md
  README.zh.md
  templates/academic-cv/.devcontainer/devcontainer.json
  templates/academic-cv/.vscode/extensions.json
  templates/academic-cv/README.md
  templates/academic-cv/content/blog/notebook-onboarding/hugoblox-onboarding.ipynb
  templates/academic-cv/content/events/example/index.md
  templates/data-science-blog/.devcontainer/devcontainer.json
  templates/data-science-blog/.vscode/extensions.json
  templates/dev-portfolio/.devcontainer/devcontainer.json
  templates/dev-portfolio/README.md
  templates/documentation/.devcontainer/devcontainer.json
  templates/documentation/.vscode/extensions.json
  templates/link-in-bio/.devcontainer/devcontainer.json
  templates/link-in-bio/.vscode/extensions.json
  templates/markdown-slides/.devcontainer/devcontainer.json
  templates/markdown-slides/README.md
  templates/resume/.devcontainer/devcontainer.json
  templates/resume/.vscode/extensions.json
  templates/startup-landing-page/.devcontainer/devcontainer.json
  templates/startup-landing-page/.vscode/extensions.json
Labels: documentation

ci: edit
  templates/academic-cv/.github/workflows/upgrade.yml
  templates/data-science-blog/.github/workflows/upgrade.yml
  templates/dev-portfolio/.github/workflows/upgrade.yml
  templates/documentation/.github/workflows/upgrade.yml
  templates/link-in-bio/.github/workflows/upgrade.yml
  templates/markdown-slides/.github/workflows/upgrade.yml
  templates/resume/.github/workflows/upgrade.yml
  templates/startup-landing-page/.github/workflows/upgrade.yml
  templates/startup-landing-page/pnpm-lock.yaml
Labels: none

chore: format
  modules/blox/blox/collection/schema.json
  modules/blox/blox/contact-info/schema.json
  modules/blox/blox/cta-button-list/schema.json
  modules/blox/blox/cta-card/schema.json
  modules/blox/blox/cta-image-paragraph/schema.json
  modules/blox/blox/dev-hero/schema.json
  modules/blox/blox/faq/schema.json
  modules/blox/blox/features/schema.json
  modules/blox/blox/hero/schema.json
  modules/blox/blox/knowledge-categories/schema.json
  modules/blox/blox/logos/schema.json
  modules/blox/blox/markdown/schema.json
  modules/blox/blox/portfolio/schema.json
  modules/blox/blox/research-areas/schema.json
  modules/blox/blox/resume-awards/schema.json
  modules/blox/blox/resume-biography-3/schema.json
  modules/blox/blox/resume-biography/schema.json
  modules/blox/blox/resume-experience/schema.json
  modules/blox/blox/resume-languages/schema.json
  modules/blox/blox/resume-skills/schema.json
  modules/blox/blox/search-hero/schema.json
  modules/blox/blox/stats/schema.json
  modules/blox/blox/team-showcase/schema.json
  modules/blox/blox/tech-stack/schema.json
  modules/blox/blox/testimonials/schema.json
  modules/blox/blox/trending-questions/schema.json
  templates/resume/pnpm-lock.yaml
Labels: modules

fix(testimonials): enhance avatar image resolution logic
  modules/blox/blox/testimonials/block.html
Labels: modules

fix(blox): unify image path resolution logic across blocks
  modules/blox/blox/cta-image-paragraph/block.html
  modules/blox/blox/logos/block.html
  modules/blox/blox/research-areas/block.html
  modules/blox/blox/resume-biography-3/block.html
  modules/blox/blox/resume-biography/block.html
Labels: modules

fix(blox): solve variable scoping regression in cta-image-paragraph
  modules/blox/blox/cta-image-paragraph/block.html
  modules/blox/blox/resume-biography/block.html
Labels: modules

fix(blox): resolve template syntax errors in cta-image-paragraph
  modules/blox/blox/cta-image-paragraph/block.html
Labels: modules

docs: edit
  README.md
  README.zh.md
  templates/academic-cv/README.md
  templates/academic-cv/config/_default/params.yaml
  templates/academic-cv/content/blog/get-started/index.md
  templates/academic-cv/content/events/example/index.md
  templates/academic-cv/content/slides/example/index.md
  templates/data-science-blog/README.md
  templates/data-science-blog/config/_default/params.yaml
  templates/data-science-blog/content/blog/get-started/index.md
  templates/data-science-blog/data/authors/me.yaml
  templates/dev-portfolio/README.md
  templates/documentation/README.md
  templates/documentation/config/_default/params.yaml
  templates/documentation/content/community/index.md
  templates/documentation/content/showcase/_index.md
  templates/documentation/data/authors/me.yaml
  templates/link-in-bio/README.md
  templates/link-in-bio/config/_default/params.yaml
  templates/markdown-slides/README.md
  templates/resume/README.md
  templates/resume/config/_default/params.yaml
  templates/resume/data/authors/me.yaml
  templates/startup-landing-page/README.md
  templates/startup-landing-page/config/_default/params.yaml
  templates/startup-landing-page/content/blog/get-started/index.md
  templates/startup-landing-page/data/authors/me.yaml
Labels: documentation

fix: respect new event start/end fields when filtering past/future in collection block
  modules/blox/blox/collection/block.html
Labels: modules

docs: edit
  CITATION.cff
  LICENSE.md
  README.md
  README.zh.md
  modules/blox/blox/collection/schema.json
  modules/blox/blox/contact-info/schema.json
  modules/blox/blox/cta-button-list/schema.json
  modules/blox/blox/cta-card/schema.json
  modules/blox/blox/cta-image-paragraph/schema.json
  modules/blox/blox/dev-hero/schema.json
  modules/blox/blox/faq/schema.json
  modules/blox/blox/features/schema.json
  modules/blox/blox/hero/schema.json
  modules/blox/blox/knowledge-categories/schema.json
  modules/blox/blox/logos/schema.json
  modules/blox/blox/markdown/schema.json
  modules/blox/blox/portfolio/schema.json
  modules/blox/blox/research-areas/schema.json
  modules/blox/blox/resume-awards/schema.json
  modules/blox/blox/resume-biography-3/schema.json
  modules/blox/blox/resume-biography/schema.json
  modules/blox/blox/resume-experience/schema.json
  modules/blox/blox/resume-languages/schema.json
  modules/blox/blox/resume-skills/schema.json
  modules/blox/blox/search-hero/schema.json
  modules/blox/blox/shared/schemas/README.md
  modules/blox/blox/shared/schemas/base-block.json
  modules/blox/blox/shared/schemas/landing-page.json
  modules/blox/blox/shared/schemas/sections.json
  modules/blox/blox/stats/schema.json
  modules/blox/blox/team-showcase/schema.json
  modules/blox/blox/tech-stack/schema.json
  modules/blox/blox/testimonials/schema.json
  modules/blox/blox/trending-questions/schema.json
Labels: documentation, modules
