Repository HugoBlox/hugo-blox-builder, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, ci, modules, starters, config

feat: Add GitHub/Obsidian-style Markdown callout support
  modules/blox-tailwind/hugo.yaml
  modules/blox-tailwind/i18n/de.yaml
  modules/blox-tailwind/i18n/en.yaml
  modules/blox-tailwind/i18n/es.yaml
  modules/blox-tailwind/i18n/fr.yaml
  modules/blox-tailwind/i18n/zh.yaml
  modules/blox-tailwind/layouts/_markup/render-blockquote.html
  modules/blox-tailwind/layouts/_shortcodes/callout.html
  modules/blox-tailwind/layouts/partials/functions/render_callout.html
  starters/academic-cv/content/blog/get-started/index.md
  starters/academic-cv/content/courses/python/index.md
Labels: documentation, modules, starters

fix: logger
  modules/blox-tailwind/layouts/_partials/functions/logger.html
Labels: modules

ci: fix
  .github/workflows/ci-build-test-site.yml
  modules/blox-tailwind/layouts/_partials/functions/logger.html
Labels: ci, modules

docs: update X link
  README.md
  README.zh.md
  starters/academic-cv/README.md
  starters/academic-cv/content/blog/get-started/index.md
  starters/blog/README.md
  starters/blog/content/authors/admin/_index.md
  starters/blog/content/blog/get-started/index.md
  starters/documentation/README.md
  starters/documentation/content/authors/admin/_index.md
  starters/documentation/content/community/index.md
  starters/landing-page/README.md
  starters/landing-page/content/authors/admin/_index.md
  starters/landing-page/content/blog/get-started/index.md
  starters/link-in-bio/README.md
  starters/resume/README.md
  starters/resume/content/authors/admin/_index.md
Labels: documentation, starters

ci: fix
  .github/workflows/ci-build-starters-matrix.yml
Labels: ci

fix(ci): use classic JSX + global Preact to fix js.Build resolution
  modules/blox-tailwind/blox/hero/client.jsx
  modules/blox-tailwind/blox/shared/js/components/Icon.jsx
  modules/blox-tailwind/layouts/_partials/libraries.html
Labels: modules

refactor(preact): switch from vendored globals to bundled node_modules approach
  modules/blox-tailwind/blox/hero/client.jsx
  modules/blox-tailwind/blox/shared/js/components/Icon.jsx
  modules/blox-tailwind/layouts/_partials/libraries.html
  starters/academic-cv/package.json
  starters/blog/package.json
  starters/documentation/package.json
  starters/landing-page/package.json
  starters/link-in-bio/package.json
  starters/resume/package.json
Labels: modules, starters

ci: fetch actual starter hb version
  .github/workflows/ci-build-starters-matrix.yml
Labels: ci

fix: broken commenting
  modules/blox-tailwind/layouts/_partials/comments.html
Labels: modules

fix(commenting): incorrect path to comments plugin (#3271)
  modules/blox-tailwind/layouts/_partials/comments.html
Labels: modules

refactor(ci): consolidate build workflows and add Hugo version guards
  .github/workflows/ci-build-starters-matrix.yml
  .github/workflows/ci-build-test-site.yml
Labels: ci

ci: fix Welcome action
  .github/workflows/community-welcome.yml
Labels: ci

fix(css): align color variables with Tailwind v4
  modules/blox-tailwind/assets/css/blox/biography.css
  modules/blox-tailwind/assets/css/blox/navbar.css
  modules/blox-tailwind/assets/css/chroma.css
  modules/blox-tailwind/assets/css/color-utilities.css
  modules/blox-tailwind/assets/css/components/cards.css
  modules/blox-tailwind/assets/css/components/copy.css
  modules/blox-tailwind/assets/css/components/glassmorphism.css
  modules/blox-tailwind/assets/css/components/page.css
  modules/blox-tailwind/assets/css/components/sidebar-left.css
  modules/blox-tailwind/assets/css/components/steps.css
  modules/blox-tailwind/assets/css/config/theme.css
  modules/blox-tailwind/assets/css/framework/base.css
  modules/blox-tailwind/assets/css/views/attachments.css
  starters/academic-cv/content/_index.md
  starters/academic-cv/content/blog/second-brain/index.md
Labels: documentation, modules, starters

ci: fix regression from 74ed4ecc15bf2ce95408c7287e95e687b410fdde
  .github/workflows/ci-build-starters-matrix.yml
Labels: ci

fix: metadata issue
  modules/blox-tailwind/layouts/_partials/views/compact.html
Labels: modules

add language config for haitien kreyol
  modules/blox-tailwind/data/languages.yaml
  modules/blox-tailwind/i18n/ht.yaml
Labels: modules

Fix shadowing outer scope
  modules/blox-tailwind/layouts/_partials/functions/get_icon.html
Labels: modules

Add option to display logos
  modules/blox-tailwind/blox/resume-biography-3/block.html
  modules/blox-tailwind/blox/resume-experience/block.html
  starters/academic-cv/content/authors/admin/_index.md
Labels: documentation, modules, starters

i18n: add Haitien kreyol (ht) language (#3277)
  modules/blox-tailwind/data/languages.yaml
  modules/blox-tailwind/i18n/ht.yaml
Labels: modules

starters: move file
  starters/academic-cv/assets/media/icons/custom/.gitkeep
Labels: starters

fix: regression with custom icon rendering (#3279)
  modules/blox-tailwind/layouts/_partials/functions/get_icon.html
Labels: modules

Apply suggestion from @olipinski
  modules/blox-tailwind/blox/resume-biography-3/block.html
Labels: modules

Apply suggestion from @gcushen
  modules/blox-tailwind/blox/resume-biography-3/block.html
Labels: modules

Apply suggestion from @gcushen
  modules/blox-tailwind/blox/resume-biography-3/block.html
Labels: modules

Apply suggestion from @gcushen
  modules/blox-tailwind/blox/resume-biography-3/block.html
Labels: modules

Apply suggestion from @gcushen
  modules/blox-tailwind/blox/resume-biography-3/block.html
Labels: modules

Apply suggestion from @gcushen
  modules/blox-tailwind/blox/resume-biography-3/block.html
Labels: modules

Apply suggestion from @gcushen
  modules/blox-tailwind/blox/resume-experience/block.html
Labels: modules

Apply suggestion from @gcushen
  modules/blox-tailwind/blox/resume-experience/block.html
Labels: modules

Apply suggestion from @gcushen
  modules/blox-tailwind/blox/resume-experience/block.html
Labels: modules

Apply suggestion from @gcushen
  modules/blox-tailwind/blox/resume-experience/block.html
Labels: modules

Apply suggestion from @gcushen
  starters/academic-cv/content/authors/admin/_index.md
Labels: documentation, starters

Apply suggestion from @gcushen
  starters/academic-cv/content/authors/admin/_index.md
Labels: documentation, starters

Apply suggestion from @gcushen
  starters/academic-cv/content/authors/admin/_index.md
Labels: documentation, starters

Apply suggestion from @gcushen
  starters/academic-cv/content/authors/admin/_index.md
Labels: documentation, starters

Apply suggestion from @gcushen
  starters/academic-cv/content/authors/admin/_index.md
Labels: documentation, starters

Apply suggestion from @gcushen
  modules/blox-tailwind/blox/resume-experience/block.html
Labels: modules

feat: add support for displaying organization logos (#3282)
  modules/blox-tailwind/blox/resume-biography-3/block.html
  modules/blox-tailwind/blox/resume-experience/block.html
  starters/academic-cv/content/authors/admin/_index.md
Labels: documentation, modules, starters

Potential fix for code scanning alert no. 10: Double escaping or unescaping
  modules/blox-tailwind/blox/shared/js/components/Icon.jsx
Labels: modules

fix: for code scanning alert no. 10: Double escaping or unescaping (#3283)
  modules/blox-tailwind/blox/shared/js/components/Icon.jsx
Labels: modules

.github/labeler.yml:

documentation:
  - changed-files:
      - any-glob-to-any-file: "**/*.md"

ci:
  - changed-files:
      - any-glob-to-any-file: ".github/workflows/**"

modules:
  - changed-files:
      - any-glob-to-any-file: "modules/**"

starters:
  - changed-files:
      - any-glob-to-any-file: "starters/**"

config:
  - changed-files:
      - any-glob-to-any-file:
          - "package.json"
          - "pnpm-lock.yaml"
          - "biome.json"
          - ".stylelintrc.yaml"
          - "vite.config.js"
