Repository HugoBlox/hugo-blox-builder, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, ci, modules, starters, config

feat(slides): add persistent branding with per-slide visibility control
  modules/slides/README.md
  modules/slides/assets/css/slides-branding.css
  modules/slides/assets/js/hugoblox-slides.js
  modules/slides/layouts/_partials/components/slide-branding.html
  modules/slides/layouts/_partials/functions/slides_get_hook.html
  modules/slides/layouts/_partials/hooks/slide-body-end/_example.html
  modules/slides/layouts/_partials/hooks/slide-footer/_example.html
  modules/slides/layouts/_partials/hooks/slide-head-end/_example.html
  modules/slides/layouts/_partials/hooks/slide-header/_example.html
  modules/slides/layouts/_partials/slides.html
  modules/slides/layouts/slides/baseof.present.html
  templates/academic-cv/assets/media/slides-logo.svg
  templates/academic-cv/assets/media/stacked-peaks.svg
  templates/academic-cv/content/slides/example/index.md
  templates/markdown-slides/assets/media/slides-logo.svg
  templates/markdown-slides/content/slides/example/index.md
Labels: documentation, modules

tpl: allow previews
  templates/academic-cv/config/_default/params.yaml
  templates/data-science-blog/config/_default/params.yaml
  templates/dev-portfolio/config/_default/params.yaml
  templates/documentation/config/_default/params.yaml
  templates/link-in-bio/config/_default/params.yaml
  templates/markdown-slides/config/_default/params.yaml
  templates/resume/config/_default/params.yaml
  templates/startup-landing-page/config/_default/params.yaml
Labels: none

fix: restore sidebar visibility in docs layouts
  modules/blox/layouts/_partials/components/sidebar.html
  templates/documentation/pnpm-lock.yaml
Labels: modules

fix(kit): correct gitignore to track docs layouts
  .gitignore
  modules/blox/layouts/docs/list.html
  modules/blox/layouts/docs/single.html
Labels: modules

fix(blox): render markdown and emoji in summary/bio fields
  modules/blox/blox/resume-biography-3/block.html
  modules/blox/blox/resume-experience/block.html
Labels: modules

docs: edit
  .github/SUPPORT.md
  .github/media/hero.png
  .github/media/hero.zh.png
  .github/media/zh-hero.png
  README.md
  README.zh.md
  modules/blox/layouts/_partials/site_footer.html
  templates/academic-cv/.devcontainer/devcontainer.json
  templates/academic-cv/.vscode/extensions.json
  templates/academic-cv/README.md
  templates/academic-cv/config/_default/params.yaml
  templates/academic-cv/content/blog/notebook-onboarding/hugoblox-onboarding.ipynb
  templates/academic-cv/content/events/example/index.md
  templates/data-science-blog/.devcontainer/devcontainer.json
  templates/data-science-blog/.vscode/extensions.json
  templates/data-science-blog/config/_default/params.yaml
  templates/dev-portfolio/.devcontainer/devcontainer.json
  templates/dev-portfolio/README.md
  templates/dev-portfolio/config/_default/params.yaml
  templates/documentation/.devcontainer/devcontainer.json
  templates/documentation/.vscode/extensions.json
  templates/documentation/config/_default/params.yaml
  templates/link-in-bio/.devcontainer/devcontainer.json
  templates/link-in-bio/.vscode/extensions.json
  templates/link-in-bio/config/_default/params.yaml
  templates/markdown-slides/.devcontainer/devcontainer.json
  templates/markdown-slides/README.md
  templates/markdown-slides/config/_default/params.yaml
  templates/resume/.devcontainer/devcontainer.json
  templates/resume/.vscode/extensions.json
  templates/resume/config/_default/params.yaml
  templates/startup-landing-page/.devcontainer/devcontainer.json
  templates/startup-landing-page/.vscode/extensions.json
  templates/startup-landing-page/config/_default/params.yaml
Labels: documentation, modules

docs: edit
  README.md
Labels: documentation

tpl(startup): add content adapter to solve author profile 404s
  README.md
  templates/startup-landing-page/content/authors/_content.gotmpl
Labels: documentation

tpl(ci): modernize CI/CD workflows
  templates/academic-cv/.github/workflows/build.yml
  templates/academic-cv/.github/workflows/deploy.yml
  templates/academic-cv/.github/workflows/import-publications.yml
  templates/academic-cv/.github/workflows/internal-readme-news.yml
  templates/academic-cv/.github/workflows/upgrade.yml
  templates/academic-cv/hugoblox.yaml
  templates/data-science-blog/.github/workflows/build.yml
  templates/data-science-blog/.github/workflows/deploy.yml
  templates/data-science-blog/.github/workflows/upgrade.yml
  templates/data-science-blog/hugoblox.yaml
  templates/dev-portfolio/.github/workflows/build.yml
  templates/dev-portfolio/.github/workflows/deploy.yml
  templates/dev-portfolio/.github/workflows/upgrade.yml
  templates/dev-portfolio/hugoblox.yaml
  templates/documentation/.github/workflows/build.yml
  templates/documentation/.github/workflows/deploy.yml
  templates/documentation/.github/workflows/upgrade.yml
  templates/documentation/hugoblox.yaml
  templates/link-in-bio/.github/workflows/build.yml
  templates/link-in-bio/.github/workflows/deploy.yml
  templates/link-in-bio/.github/workflows/upgrade.yml
  templates/link-in-bio/hugoblox.yaml
  templates/markdown-slides/.github/workflows/build.yml
  templates/markdown-slides/.github/workflows/deploy.yml
  templates/markdown-slides/.github/workflows/upgrade.yml
  templates/markdown-slides/hugoblox.yaml
  templates/resume/.github/workflows/build.yml
  templates/resume/.github/workflows/deploy.yml
  templates/resume/.github/workflows/upgrade.yml
  templates/resume/hugoblox.yaml
  templates/startup-landing-page/.github/workflows/build.yml
  templates/startup-landing-page/.github/workflows/deploy.yml
  templates/startup-landing-page/.github/workflows/upgrade.yml
  templates/startup-landing-page/hugoblox.yaml
Labels: none

feat(biography): re-implement ruby pronunciation annotations for CJK names
  modules/blox/assets/css/blox/biography.css
  modules/blox/blox/resume-biography-3/README.md
  modules/blox/blox/resume-biography-3/block.html
  modules/blox/blox/resume-biography/README.md
  modules/blox/blox/resume-biography/block.html
Labels: documentation, modules

fix(blox): restore side-by-side layout in cta-image-paragraph block
  modules/blox/blox/cta-image-paragraph/block.html
Labels: modules

fix(biography): make status.icon optional in resume-biography block
  modules/blox/blox/resume-biography-3/block.html
  modules/blox/blox/resume-biography/block.html
Labels: modules

refactor(workflows): replace grep/awk with yq for robust YAML parsing
  templates/academic-cv/.github/workflows/build.yml
  templates/academic-cv/.github/workflows/deploy.yml
  templates/data-science-blog/.github/workflows/build.yml
  templates/data-science-blog/.github/workflows/deploy.yml
  templates/dev-portfolio/.github/workflows/build.yml
  templates/dev-portfolio/.github/workflows/deploy.yml
  templates/documentation/.github/workflows/build.yml
  templates/documentation/.github/workflows/deploy.yml
  templates/link-in-bio/.github/workflows/build.yml
  templates/link-in-bio/.github/workflows/deploy.yml
  templates/markdown-slides/.github/workflows/build.yml
  templates/markdown-slides/.github/workflows/deploy.yml
  templates/resume/.github/workflows/build.yml
  templates/resume/.github/workflows/deploy.yml
  templates/startup-landing-page/.github/workflows/build.yml
  templates/startup-landing-page/.github/workflows/deploy.yml
Labels: none

Update block.html to include more formatting
  modules/blox/blox/resume-experience/block.html
Labels: modules

.github/labeler.yml:

documentation:
  - changed-files:
      - any-glob-to-any-file: "**/*.md"

ci:
  - changed-files:
      - any-glob-to-any-file: ".github/workflows/**"

modules:
  - changed-files:
      - any-glob-to-any-file: "modules/**"

starters:
  - changed-files:
      - any-glob-to-any-file: "starters/**"

config:
  - changed-files:
      - any-glob-to-any-file:
          - "package.json"
          - "pnpm-lock.yaml"
          - "biome.json"
          - ".stylelintrc.yaml"
          - "vite.config.js"
