Repository HugoBlox/hugo-blox-builder, pull requests merged in 2022-08, with the labels that each got.

#2765 improved fix for mermaid diagrams in reveal slides
  modules/wowchemy/assets/js/wowchemy-slides.js
  modules/wowchemy/data/assets.toml
Labels: enhancement, reviewers needed

#2780 docs: update references to wowchemy-hugo-modules
  starters/academic/content/home/demo.md
  starters/academic/content/post/getting-started/index.md
  starters/academic/content/slides/example/index.md
  starters/blog/content/post/getting-started/index.md
  starters/course/content/home/hero.md
Labels: documentation

#2808 Lang pack for Malay (Roman & Jawi)
  modules/wowchemy/data/i18n/languages.yaml
  modules/wowchemy/data/i18n/rtl.toml
  modules/wowchemy/i18n/ms-Arab.yaml
  modules/wowchemy/i18n/ms.yaml
Labels: translation
